* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.container {
  display: flex;
  gap: 1rem;
  background-color: #ded8d8;
  position: relative;
  height: 100vh;
  align-items: center;
  padding: 1rem;
}
.corner1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(37, 110, 219);
  border-bottom-left-radius: 100%;
  width: 6rem;
  height: 6rem;
}
.corner2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(37, 110, 219);
  border-top-right-radius: 100%;
  width: 6rem;
  height: 6rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 17rem;
  position: relative;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding-top: 3rem;
  margin: 1rem 0;
}

.number {
  background-color: white;
  position: absolute;
  top: -1.5rem;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  border: 2px solid #ded8d8;
  border-radius: 50%;
}
.icons {
  color: rgb(37, 110, 219);
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .container{
    flex-direction: column;
    height: 100%;
    padding: 6rem 1rem 6rem 1rem;
  }
}